<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:debuggable="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:ignore="HardcodedDebugMode"
        tools:targetApi="31">
        <activity
            android:name=".md5.MD5Activity"
            android:exported="false" />
        <activity
            android:name=".crc32.CRC32Activity"
            android:exported="false" />
        <activity
            android:name=".base64.Base64Activity"
            android:exported="false" />
        <activity
            android:name=".unidbg.UnidbgActivity"
            android:exported="false" />
        <activity
            android:name=".unicorn.UnicornActivity"
            android:exported="false" />
        <activity
            android:name=".frida.disassemble.FridaDisassembleActivity"
            android:exported="false" />
        <activity
            android:name=".vmp.VMPActivity"
            android:exported="false" />
        <activity
            android:name=".ollvm.OLLVMActivity"
            android:exported="false" />
        <activity
            android:name=".syscall.SyscallActivity"
            android:exported="false" />
        <activity
            android:name=".assembly.AssemblyActivity"
            android:exported="false" />
        <activity
            android:name=".jniexample.JNIExampleActivity"
            android:exported="false" />
        <activity
            android:name=".antidebug.AntiDebugActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>